version: "3.9"

services:
  wishlist:
    build: .
    image: wishlist:local
    ports:
      - "8000:8000"

    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true

    volumes:
      - wishlist_data:/app/data

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 20s
      timeout: 3s
      retries: 3

volumes:
  wishlist_data:
